.app {
    position: absolute;
    z-index: 6;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 0 rgb(51, 51, 51);
    padding: 0;
    margin: 0;
    left: 20%;
    top: 20%;
    font-weight: 100;
    resize: both;
    transition: 0.1s width, 0.1s height, 0.5s transform cubic-bezier(0.1,-0.16, 1, 0.02), 1s opacity ease-in;
    background-color: rgb(77, 77, 77);
    transform-origin: top center;
    min-height: 150px;
    min-width: 150px;
    max-height: 94vh;
}

.titlebar {
    z-index: 6;
    display: flex;
    justify-content: space-between;
    transform-origin: top center;
    align-items: center;
    height: 4.3vh;
    background-color: rgb(19, 19, 19);
}
.titlebar:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.titlebar h4 {
    padding: 0;
    margin: 0 1%;
    pointer-events: none;
    flex: 1;
    font-weight: 400;
    color: #efefef;
    font-size: 0.9rem;
}

.button-group {
    display: flex;
    height: 100%;
    background-color: rgb(19, 19, 19);
}

.button-group button {
    background-color: rgb(19, 19, 19);
    height: 100%;
    width: 40px;
    border: none;
}
.btn{
    font-weight: bold;
    
}
.btn-red{
    color: #efefef;
    font-weight: bold;
    font-size: 1.01rem;
    padding-bottom: 5px;
}
.btn-red:hover {
    background-color: rgb(255, 10, 10);
}

.btn:hover {
    background-color: rgb(167, 167, 167);
}

.btn-red:active {
    background-color: rgb(201, 0, 0)
}

.btn:active {
    background-color: rgb(138, 138, 138)
}

.app-body {
    z-index: 6;
    color: rgb(0, 0, 0);
    height: 100%;
}

.maxS {
    height: 94vh;
    width: 100%;
    top: 0;
    left: 0;
}

.minS {
    height: 300px;
    width: 300px;
    top: 20%;
    left: 20%;
}
.maximize{
    width: 35%;
}
.app-icon-taskbar{
    width: 80%;
}
.app-open{
    border-bottom: 2px solid red;
}
.ico{
    width:3vh;
    margin: 0 1%;
    pointer-events: none;
}
@keyframes genieEffectV1 {
    10%{
        transform: matrix3d(
            0.49389674509798565,	-0.004579608039563708,	0,	0.00001756299527076455,
            0.11987672009766603,	0.7845837826817545,	0,	0.0021459505246151245,
            0,	0,	1,	0,
            49,	98,	0,	1
            );            
    }
    20%{
        transform: matrix3d(
            0.30628957701434106,	0.006362107501764789,	0,	-0.000018304827550666102,
            0.054787572657747675,	1.245767673472564,	0,	0.0018769871020196895,
            0,	0,	1,	0,
            2,	157,	0,	1
            );
    }
    30%{
        transform: matrix3d(
            0.16716628460588961,	-0.010684804299040047,	0,	-0.000030023591777257084,
            0.08964682731038147,	1.6613791006181817,	0,	0.0019530502982165504,
            0,	0,	1,	0,
            29,	305,	0,	1
            )
            ;
    }
    50%{
        transform: matrix3d(
            0.14382488393426743,	0.0009161858728096525,	0,	-0.000008149048423974035,
            0.11595396774273468,	1.2113507420162029,	0,	0.001901493942472066,
            0,	0,	1,	0,
            34,	458,	0,	1
        );
    }
    60%{
        transform: matrix3d(
            0.08293840730510676,	-0.04085158979403937,	0,	-0.00007330962200612963,
            0.10713087435971995,	1.1868946697385196,	0,	0.0017558771557026863,
            0,	0,	1,	0,
            43,	537,	0,	1
        );
    }
    70%{

    }
}
@keyframes genieEffectV2 {
    30%{
        transform: matrix3d(
            0.8807699749796458,	-0.0028396092597636684,	0,	0.00003445694221801495,
            2.0037036108258786,	8.28704844878878,	0,	0.014452212452452665,
            0,	0,	1,	0,
            10,	10,	0,	1
        );
        transition-timing-function: ease-in;
    }
    40%{
        transition-timing-function: ease-in;
        transform: matrix3d(
            0.720147687482422,	0.01108848821743525,	0,	0.00005578774801020492,
            1.5397927204469017,	6.434300917671575,	0,	0.011199666747864464,
            0,	0,	1,	0,
            39,	112,	0,	1
            );
    }60%{
        transform: matrix3d(
            0.2184831573993142,	-0.00624173558349582,	0,	-0.000011205988480243842,
            0.9926571765476331,	4.028120676308203,	0,	0.006547406116148911,
            0,	0,	1,	0,
            99,	419,	0,	1
            )
            
            
            ;
    }
    65%{
        transform: matrix3d(
            0.14409090957801934,	-0.008015886028675007,	0,	-0.0000037507488102088882,
            1.0968855895561678,	4.781590255565249,	0,	0.007502370920259158,
            0,	0,	1,	0,
            112,	480,	0,	1
            )
            ;
    }
}
.minimizeAnimation{
    animation: genieEffectV2 1s ease-out;
    transform: scale(0) translateY(110vh);
    opacity: 0;
    pointer-events: none;
}