*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
}
.grid-itm {
    justify-self: center;
}

.taskbar-item {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}

.taskbar-item:hover {
    background-color: rgba(63, 63, 63, 0.5);
}

.desktop-item {
    z-index: 2;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.desktop-item:hover {
    background-color: rgba(230, 230, 230, 0.5);
}

/* desktop */
.desktop {
    z-index: 1;
    display: grid;
    gap: 4vh;
    width: 100%;
    height: 97vh;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
    justify-content: center;
    align-items: center;
    margin: 1%;
}

/* taskbar */
.background {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.main-taskbar {
    display: flex;
    flex-direction: row;
    z-index: 10000;
    width: 100%;
}

.taskbar {
    background-color: rgba(20, 20, 20, 0.7);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(46px, 1fr));
    height: 6vh;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.logo {
    height: 20px;
    width: 20px;
    padding: 1%;
    justify-self: center;
}

.search {
    height: 99%;
    background-color: rgb(54, 54, 54);
    outline-width: 0;
    grid-column: 2 / span 7;
    padding: 3%;
    border: 1px solid grey;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.search:focus {
    background-color: rgb(255, 255, 255);
    border-color: blue;
}

.dt-holder {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 6vh;
    background-color: rgba(20, 20, 20, 0.7);
    width: 100px;
    align-items: center;
    justify-content: center;
}

.date {
    color: white;
    font-size: 0.8em;
    font-weight: 400;
}

.time {
    color: white;
    font-size: 0.8em;
    font-weight: 400;
}
.app-icon{
    width: 80%;
}
.app-2{
    grid-row: 2 / span 1;
}
.base-window{
    display: grid;
    grid-template-rows: 94vh 6vh;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.app-drawer{
    position: absolute;
    width: 45vw;
    left: 0;
    bottom: 6vh;
    background-color: rgb(53, 53, 53);
    z-index: 100000;
    transition: height 0.3s ease-in-out, opacity 0.4s ease;
}
.closed{
    height: 0;
    opacity: 0;
    pointer-events: none;
}
.opened{
    height: 80vh;
    opacity: 1;
    pointer-events: all;
}