*{
    margin: 0;
    padding: 0;
}
body,html{
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.parallax{
    display: flex;
    background-image: linear-gradient(rgb(13, 3, 102), rgb(10, 76, 255));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}
.parallax::after{
    content: "";
    background-image: linear-gradient(transparent, darkblue);
    height:10vh;
    width:100vw;
    bottom: -6px;
    position: absolute;
    z-index: 6;
}
.parallax img{
    position: absolute;
}
#star{
    width: 100%;
    height: 80%;
}
#land{
    filter: drop-shadow(1px 1px 20px rgb(30, 6, 165));
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 5;
}
#saturn{
    top: 30px;
    width: 30vw;
    right:5%;
    filter: drop-shadow(1px 1px 20px rgb(58, 58, 58));
}
#planet-1{
    width:10vw;
    left: 7%;
    top: 40px;
}
#planet-2{
    width:13vw;
    align-self: center;
    left:40%;
    filter: drop-shadow(1px 1px 50px rgb(58, 58, 58));
}
#name{
    font-size: 0rem;
    color: #fff;
    align-self: center;
    z-index: 2;
    display: inline-block;
    width: max-content;
}
#land-back{
    bottom: 10px;
    transition-duration: 0s;
    transform: scaleX(-1);
    width: 100%;
    filter: brightness(0.8);
}
.btn{
    position: absolute;
    background-color: #fff;
    color: darkblue;
    padding:5px 1%;
    border-radius: 20px;
    height: max-content;
    text-decoration: none;
    z-index: 6;
    right:45%;
    font-size:1.5rem;
    bottom: 10%;
}
.text-section{
    background-color:darkblue;
    color: #fff;
    height: 100vh;
    padding:10px;
    z-index: 7;
}
.text-section h2{
    padding-top: 50px;
    font-size: 2rem;
}
.text-section p{
    margin-top: 10%;
    font-size: 1.3rem;
}     
@-webkit-keyframes diving-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(3deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes diving-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(3deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }