@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #3a4764;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 5%;
  width: 30vw;
  font-family: 'Spartan';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 900px) {
  .app {
    padding-top: 5%;
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .app {
    padding-top: 15%;
    width: 90vw;
  }
}

.app .titlebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.app .titlebar h2 {
  font-weight: 700;
}

.app .titlebar .theme-selector {
  -webkit-transition-delay: -0.5s;
          transition-delay: -0.5s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3px;
}

.app .titlebar .theme-selector h4 {
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: center;
}

.app .titlebar .theme-selector h4 span {
  padding: 0 6px;
  font-size: 0.7rem;
}

.app .titlebar .theme-selector h5 {
  font-size: 0.5rem;
  -ms-grid-row: 2;
  grid-row: 2;
  letter-spacing: 2px;
}

.app .titlebar .theme-selector .slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  cursor: pointer;
}

.app .titlebar .theme-selector .slider div {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.app .display-calc {
  width: 100%;
  margin: 5% 0;
  height: 10vh;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app .display-calc input {
  -webkit-transition-delay: -1s;
          transition-delay: -1s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Spartan';
  font-size: 2.5rem;
  font-weight: 600;
  cursor: text;
}

.app .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
  height: 50vh;
}

@media (max-width: 900px) {
  .app .inputs {
    height: 70vh;
  }
}

@media (max-width: 600px) {
  .app .inputs {
    height: 60vh;
  }
}

.app .inputs .button-group {
  padding: 20px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  height: 85%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.app .inputs .button-group button {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 7px;
  font-family: 'Spartan';
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  outline: none;
}

.app .inputs .button-group button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.app .inputs .button-group .reset, .app .inputs .button-group .del {
  font-size: 1rem;
}

.app .inputs .button-group .reset {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.app .inputs .button-group .equal {
  font-size: 1rem;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.theme-1 .titlebar {
  color: white;
}

.theme-1 .titlebar .theme-selector .slider {
  background-color: #232c43;
}

.theme-1 .titlebar .theme-selector .slider div {
  background-color: #d03f2f;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-left: 5px;
}

.theme-1 .display-calc {
  background-color: #182034;
}

.theme-1 .display-calc input {
  background-color: #182034;
  color: white;
}

.theme-1 .inputs {
  background-color: #182034;
}

.theme-1 .inputs .button-group button {
  background-color: #eae3dc;
  color: #444b5a;
  -webkit-box-shadow: 0 4px 0 0 #b4a597;
          box-shadow: 0 4px 0 0 #b4a597;
}

.theme-1 .inputs .button-group .reset, .theme-1 .inputs .button-group .del {
  background-color: #637097;
  color: white;
  -webkit-box-shadow: 0 4px 0 0 #404e72;
          box-shadow: 0 4px 0 0 #404e72;
}

.theme-1 .inputs .button-group .equal {
  background-color: #d03f2f;
  color: white;
  -webkit-box-shadow: 0 4px 0 0 #93261a;
          box-shadow: 0 4px 0 0 #93261a;
}

.theme-2 .titlebar {
  color: #444b5a;
}

.theme-2 .titlebar .theme-selector .slider {
  background-color: #d1cccc;
}

.theme-2 .titlebar .theme-selector .slider div {
  background-color: #ca5502;
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: 2px;
}

.theme-2 .display-calc {
  background-color: #ededed;
}

.theme-2 .display-calc input {
  background-color: #ededed;
  color: #444b5a;
}

.theme-2 .inputs {
  background-color: #d1cccc;
}

.theme-2 .inputs .button-group button {
  background-color: #eae3dc;
  color: #444b5a;
  -webkit-box-shadow: 0 4px 0 0 #b4a597;
          box-shadow: 0 4px 0 0 #b4a597;
}

.theme-2 .inputs .button-group .reset, .theme-2 .inputs .button-group .del {
  background-color: #377f86;
  color: white;
  -webkit-box-shadow: 0 4px 0 0 #1b5f65;
          box-shadow: 0 4px 0 0 #1b5f65;
}

.theme-2 .inputs .button-group .equal {
  background-color: #ca5502;
  color: white;
  -webkit-box-shadow: 0 4px 0 0 #893901;
          box-shadow: 0 4px 0 0 #893901;
}

.theme-3 .titlebar {
  color: #ffe53d;
}

.theme-3 .titlebar .theme-selector .slider {
  background-color: #1d0934;
}

.theme-3 .titlebar .theme-selector .slider div {
  background-color: #00e0d1;
  -ms-grid-column: 3;
  grid-column: 3;
  margin-left: 2px;
}

.theme-3 .display-calc {
  background-color: #1d0934;
}

.theme-3 .display-calc input {
  background-color: #1d0934;
  color: #ffe53d;
}

.theme-3 .inputs {
  background-color: #1d0934;
}

.theme-3 .inputs .button-group button {
  background-color: #341c4f;
  color: #ffe53d;
  -webkit-box-shadow: 0 4px 0 0 #871c9c;
          box-shadow: 0 4px 0 0 #871c9c;
}

.theme-3 .inputs .button-group .reset, .theme-3 .inputs .button-group .del {
  background-color: #58077d;
  color: white;
  -webkit-box-shadow: 0 4px 0 0 #bc15f4;
          box-shadow: 0 4px 0 0 #bc15f4;
}

.theme-3 .inputs .button-group .equal {
  background-color: #00e0d1;
  color: white;
  -webkit-box-shadow: 0 4px 0 0 #6cf9f2;
          box-shadow: 0 4px 0 0 #6cf9f2;
}
/*# sourceMappingURL=index.css.map */