@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
    background-color:hsl(222, 26%, 31%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@mixin phone {
    @media (max-width: 600px){@content;}
}
@mixin tab {
    @media (max-width: 900px){@content;}
}
.app{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:auto;
    padding-top: 5%;
    width: 30vw;
    font-family: 'Spartan';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    @include tab{
        padding-top: 5%;
        width: 50vw;
    }
    @include phone{
        padding-top: 15%;
        width: 90vw;
    }
    .titlebar{
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        width: 100%;
        transition-duration: 0.5s;
        h2{
            font-weight: 700;
        }
        .theme-selector{
            transition-delay: -0.5s;
            transition-duration: 0.5s;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-items: center;
            row-gap: 3px;
            h4{
                grid-column: 2;
                text-align: center;
                span{
                    padding: 0 6px;
                    font-size: 0.7rem;
                }
            }
            h5{
                font-size: 0.5rem;
                grid-row: 2;
                letter-spacing: 2px;
            }
            .slider{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: 100%;
                height: 100%;
                border-radius: 20px;
                justify-content:center;
                align-items:center;
                gap: 2px;
                cursor: pointer;
                div{
                    height: 12px;
                    width:12px;
                    border-radius: 50%;
                }
            }
        }
    }
    .display-calc{
        width: 100%;
        margin: 5% 0;
        height: 10vh;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            transition-delay: -1s;
            transition-duration: 0.5s;
            display: flex;
            align-items: center;
            border-radius: 7px;
            width: 90%;
            height: 100%;
            border: none;
            outline: none;
            text-align: right;
            font-family: 'Spartan';
            font-size: 2.5rem;
            font-weight:600;
            cursor: text;
        }
    }
    .inputs{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-radius:7px;
        height: 50vh;
        @include tab{
            height: 70vh;
        }
        @include phone{
            height: 60vh;
        }
        .button-group {
            padding: 20px;
            width: 100%;
            display: grid;
            gap: 20px;
            height: 85%;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            button{
                width: 100%;
                height: 100%;
                font-size: 1.5rem;
                text-align: center;
                border: none;
                border-radius: 7px;
                font-family: 'Spartan';
                transition-duration: 0.1s;
                outline: none;
                &:active{
                    box-shadow: none;
                    transform: translateY(4px);
                }
            }
            .reset, .del{
                font-size: 1rem;
            }
            .reset{
                grid-column-end: span 2;
            }
            .equal{
                font-size: 1rem;
                grid-column-end: span 2;
            }
        }
    }
}
.theme-1{
    .titlebar{
        color:hsl(0, 0, 100%);
        .theme-selector{
            .slider{
                background-color:hsl(223, 31%, 20%);
                div{
                    background-color: hsl(6, 63%, 50%);
                    grid-column: 1;
                    margin-left: 5px;
                }
            }
        }
    }
    .display-calc{
        background-color: hsl(224, 36%, 15%);
        input{
            background-color: hsl(224, 36%, 15%);
            color: white;
        }
    }
    .inputs{
        background-color: hsl(224, 36%, 15%);
        .button-group {
            button{
                background-color: hsl(30, 25%, 89%);
                color: hsl(221, 14%, 31%);
                box-shadow: 0 4px 0 0 hsl(28, 16%, 65%);
            }
            .reset, .del{
                background-color: hsl(225, 21%, 49%);
                color: white;
                box-shadow: 0 4px 0 0 hsl(224, 28%, 35%);
            }
            .equal{
                background-color: hsl(6, 63%, 50%);
                color: white;
                box-shadow: 0 4px 0 0 hsl(6, 70%, 34%);
            }
        }
    }
}
.theme-2{
    .titlebar{
        color:hsl(221, 14%, 31%);
        .theme-selector{
            .slider{
                background-color:hsl(0, 5%, 81%);
                div{
                    background-color: hsl(25, 98%, 40%);
                    grid-column: 2;
                    margin-left: 2px;
                }
            }
        }
    }
    .display-calc{
        background-color: hsl(0, 0%, 93%);
        input{
            background-color: hsl(0, 0%, 93%);
            color: hsl(221, 14%, 31%);
        }
    }
    .inputs{
        background-color: hsl(0, 5%, 81%);
        .button-group {
            button{
                background-color: hsl(30, 25%, 89%);
                color: hsl(221, 14%, 31%);
                box-shadow: 0 4px 0 0 hsl(28, 16%, 65%);
            }
            .reset, .del{
                background-color: hsl(185, 42%, 37%);
                color: white;
                box-shadow: 0 4px 0 0 hsl(185, 58%, 25%);
            }
            .equal{
                background-color: hsl(25, 98%, 40%);
                color: white;
                box-shadow: 0 4px 0 0 hsl(25, 99%, 27%);
            }
        }
    }
}
.theme-3{
    .titlebar{
        color:hsl(52, 100%, 62%);
        .theme-selector{
            .slider{
                background-color:hsl(268, 71%, 12%);
                div{
                    background-color: hsl(176, 100%, 44%);
                    grid-column: 3;
                    margin-left: 2px;
                }
            }
        }
    }
    .display-calc{
        background-color: hsl(268, 71%, 12%);
        input{
            background-color: hsl(268, 71%, 12%);
            color: hsl(52, 100%, 62%);
        }
    }
    .inputs{
        background-color: hsl(268, 71%, 12%);
        .button-group {
            button{
                background-color: hsl(268, 47%, 21%);
                color: hsl(52, 100%, 62%);
                box-shadow: 0 4px 0 0 hsl(290, 70%, 36%);
            }
            .reset, .del{
                background-color: hsl(281, 89%, 26%);
                color: white;
                box-shadow: 0 4px 0 0 hsl(285, 91%, 52%);
            }
            .equal{
                background-color: hsl(176, 100%, 44%);
                color: white;
                box-shadow: 0 4px 0 0 hsl(177, 92%, 70%);
            }
        }
    }
}